**/__pycache__
**/.DS_Store
*.tar.gz
*.mlmodel
*.pb
*.onnx
*.pth
**/.ipynb_checkpoints
*.ipynb
logs/
dataset/
pytorch/detection/efficientDet/Yet-Another-EfficientDet-Pytorch/datasets/
pytorch/detection/efficientDet/Yet-Another-EfficientDet-Pytorch/efficientdet/loss.py.1
pytorch/detection/efficientDet/Yet-Another-EfficientDet-Pytorch/nohup.out
